---
layout: default
---
<h1>Bienvenue à board !</h1>

Bonjour et bienvenue !

Je suis Gwenole, un développeur web passionné et un aficionado de l'informatique. 

Je suis ravi que vous soyez ici pour explorer mon travail et découvrir mes projets. 

Bonne navigation ! 


<div class="archive">
  {% for post in site.posts %} {% assign currDate = post.date | date: "%Y" %} 
  {% if currDate != date %}
  <h1 class="archive-year">{{ currDate }}</h1>
  {% assign date = currDate %} {% endif %}
  <div class="archive-item">
    <span class="post-date archive-date fs-4">{% include date_french.html var=post.date %}</span>
    <a href="{{ post.url | relative_url }}" class="archive-title fs-4">{{ post.title }}</a>
  </div>
  {% endfor %}
</div>
