---
layout: page
title: Portfolio
permalink: /portfolio/
---

Découvez ci dessous une sélection de mes projects informatiques:




<div class="portfolio-grid">
    {% for post in site.posts %}
      {% if post.tags contains 'project' %}
        <div class="portfolio-item">
          <a href="{{ post.url }}">
            <img src="{{ site.baseurl }}{{ post.thumbnail }}" alt="{{ post.title }}" />
            <div class="portfolio-caption">
              <h2>{{ post.title }}</h2>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>